/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e7e7;
}

form {
  padding: 20px;
  border-radius: 5px;
  background-color: #afb0b7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 7rem auto;
}

label {
  display: block;
  font-size: 18px;
  padding: 10px;
}

input {
  width: 400px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  &.ng-invalid.ng-dirty {
    border: 2px solid crimson;
  }
  &.ng-valid.ng-dirty {
    border: 2px solid green;
  }
}

p {
  color: red;
  font-size: 14px;
  padding: 0 5px;
}

button {
  width: fit-content;
  padding: 10px 20px;
  background-color: rgb(52, 50, 50);
  color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

h2 {
  padding-bottom: 3rem;
  font-size: 25px;
  font-weight: 600;
}
